h1{
    color: black;

    
}
hr{
    border: 1px solid gray;
    width: 100%;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:gray;
   font-size: 15px;
}
h3{
    color:black;
    font-size: 10px;
}
